.idea/
job_name_mappings/*
job_name_mappings_analysis/*
venv/
_venv/
__pycache__
results/*
logs/*
logs_analysis/*
plots/*
attic
run_*
*egg-info
*.csv
storage_structure
.coverage
submit_experiments_featureless.sh
submit_experiments_tabpfn.sh
submit_experiments_catboost_parallel.sh
*.npy
visualize/
smac3_output/
runtime.txt
reanalyse_existing/
csvs/
*.zip
.ipynb_checkpoints/
analysis.R
